<!DOCTYPE html>
<html>
<title>duonghao314</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel='stylesheet' href='https://fonts.googleapis.com/css?family=Roboto'>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<style>
    html, body, h1, h2, h3, h4, h5, h6 {
        font-family: "Roboto", sans-serif
    }
</style>
<body class="w3-light-grey">

<!-- Page Container -->
<div class="w3-content w3-margin-top" style="max-width:1400px;">

    <!-- The Grid -->
    <div class="w3-row-padding">

        <!-- Left Column -->
        <div class="w3-third">

            <div class="w3-white w3-text-grey w3-card-4">
                <div class="w3-display-container">
                    <img src="/images/shitface.png" style="width:100%" alt="Avatar">
                    <div class="w3-display-bottomleft w3-center w3-container w3-text-deep-purple">

                    </div>
                </div>
                <div class="w3-container">
                    <h2>Nguy&#7877;n V&#259;n Nh&#7853;t Quang</h2>
                    <p><i class="fa fa-briefcase fa-fw w3-margin-right w3-large w3-text-teal"></i>Developer</p>
                    <p><i class="fa fa-home fa-fw w3-margin-right w3-large w3-text-teal"></i>DaNang, VietNam</p>
                    <p><i class="fa fa-envelope fa-fw w3-margin-right w3-large w3-text-teal"></i>nhatquang.nv14@gmail.com
                    </p>
                    <p><i class="fa fa-facebook-f fa-fw w3-margin-right w3-large w3-text-teal"></i>&#272;&#432;&#7901;ng
                        H&#7841;o: <a href="https://www.facebook.com/smstarfall">https://www.facebook.com/smstarfall</a>
                    </p>
                    <p><i class="fa fa-instagram fa-fw w3-margin-right w3-large w3-text-teal"></i><a
                            href="https://www.instagram.com/duonghaoo314/">https://www.instagram.com/duonghaoo314/</a>
                    </p>
                    <p><i class="fa fa-phone fa-fw w3-margin-right w3-large w3-text-teal"></i>0976742314</p>
                    <hr>

                    <p class="w3-large"><b><i class="fa fa-asterisk fa-fw w3-margin-right w3-text-teal"></i>Skills</b>
                    </p>
                    <p>JAVA CORE</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-deep-orange" style="width:70%">70%</div>
                    </div>
                    <p>Python</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-indigo" style="width:50%">
                            <div class="w3-center w3-text-white">50%</div>
                        </div>
                    </div>
                    <p>C(Embedded System/IoT)</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-blue-grey" style="width:40%">40%</div>
                    </div>
                    <p>C#</p>
                    <div class="w3-light-grey w3-round-xlarge w3-small">
                        <div class="w3-container w3-center w3-round-xlarge w3-light-green" style="width:40%">40%</div>
                    </div>
                    <br>

                    <p class="w3-large w3-text-theme"><b><i class="fa fa-globe fa-fw w3-margin-right w3-text-teal"></i>Languages</b>
                    </p>
                    <p>English - TOEIC</p>
                    <div class="w3-light-grey w3-round-xlarge">
                        <div class="w3-round-xlarge w3-center w3-amber" style="height:24px;width:76%">755/990</div>
                    </div>
                    <p class="w3-large"><b><i class="fa fa-task fa-fw w3-margin-right w3-text-teal"></i>Hobbies</b>
                    </p>
                    <p><i class="fa fa-code fa-fw w3-margin-right w3-large w3-text-teal"></i>Coding</p>
                    <p><i class="fa fa-keyboard fa-fw w3-margin-right w3-large w3-text-teal"></i>Gaming</p>
                    <p><i class="fa fa-books fa-fw w3-margin-right w3-large w3-text-teal"></i>Reading books</p>
                    <p><i class="fa fa-saladfa-fw w3-margin-right w3-large w3-text-teal"></i>Cooking</p>
                </div>
            </div>

        <br>


        <!-- End Left Column -->
    </div>

    <!-- Right Column -->
    <div class="w3-twothird">

        <div class="w3-container w3-card w3-white w3-margin-bottom">
            <h2 class="w3-text-grey w3-padding-16"><i
                    class="fa fa-suitcase fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Work Experience</h2>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Diploma Project: Using IoT for back-up data in server</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Feb 2019 - June
                    2019<span class="w3-tag w3-teal w3-round"></span></h6>
                <p>Project Supervisor's Report: Ph.D Ngo Minh Tri </p>
                <p>Combination of Early Warning system and Data Back-up software. Base on IoT and C# programming to
                    build the useful system for saving data in server.</p>
                <hr>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>3rd Prize in SMARTCAMPUS 2019 Contest</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>Mar 2019</h6>
                <p>Co-operate with Eng.Vu Van Thanh in "Data back-up system" project</p>
                <hr>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Personal project</b></h5>

                <p><i class="far fa-dot-circle"></i>AES in Image encryption</p>
                <p><a href="https://github.com/duonghao314/getEbook" target="_blank"><i
                        class="far fa-dot-circle"></i>Convert Fiction in website to E-book</a></p>
                <p><a href="https://github.com/duonghao314/backupfile" target="_blank"><i
                        class="far fa-dot-circle"></i>Data Back-up software</a></p>
                <p><i class="far fa-dot-circle"></i>Data Back-up system Controller Website <a
                        href="http://vvtsmart.com/backup/">http://vvtsmart.com/backup/</a></p>
                <hr>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>Part-time job</b></h5>

                <p>Facebook Customer service at NgoaLongMobile Fanpage</p>
                <p>Editor at Truyenyy.com</p>
                <hr>
            </div>
        </div>

        <div class="w3-container w3-card w3-white">
            <h2 class="w3-text-grey w3-padding-16"><i
                    class="fa fa-certificate fa-fw w3-margin-right w3-xxlarge w3-text-teal"></i>Education</h2>
            <div class="w3-container">
                <h5 class="w3-opacity"><b> University of Science and Technology - The University of Da Nang</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i> 2014-2019</h6>

                <p>Degree: Electronic and Telecomunication Engineering</p>
                <p>Degree Classification: Good</p>
                <hr>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>VinaENTER</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2017</h6>
                <p>Learning JAVA, Spring Framework</p>
                <hr>
            </div>
            <div class="w3-container">
                <h5 class="w3-opacity"><b>MSITA: Microsoft IT Academy</b></h5>
                <h6 class="w3-text-teal"><i class="fa fa-calendar fa-fw w3-margin-right"></i>2019</h6>
                <p>Learning Python, Django Framework, Machine Learing</p><br>
            </div>
        </div>

        <!-- End Right Column -->
    </div>

    <!-- End Grid -->
</div>

<!-- End Page Container -->
</div>

<footer class="w3-container w3-teal w3-center w3-margin-top">
    <p>Find me on social media.</p>
    <i class="fa fa-facebook-official w3-hover-opacity"></i>
    <i class="fa fa-instagram w3-hover-opacity"></i>
    <i class="fa fa-snapchat w3-hover-opacity"></i>
    <i class="fa fa-pinterest-p w3-hover-opacity"></i>
    <i class="fa fa-twitter w3-hover-opacity"></i>
    <i class="fa fa-linkedin w3-hover-opacity"></i>
    <p>Powered by <a href="https://www.w3schools.com/w3css/default.asp" target="_blank">w3.css</a></p>
</footer>

</body>
</html>